<html>
    <head>
	<link href="public/icon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/main.css">        
    </head>

    <body backgroud="public/icon/bg2.png">
	<div class="container">
  		<h1>
			<span class="main_title">File Hosting Service</span>
		</h1>
	</div>


        <div class="container">	
		<div class="error-box">
			<div class="title"><span>The page not found :(</span></div>
			<span class="error">The page not found :(</span>   
		</div>   	
        </div>
            
    </body>  

</html>