<html>
    <head>
	<link href="public/icon/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/css/main.css">        
    </head>

    <body backgroud="public/icon/bg2.png">

	<div class="container">
  		<h1>
			<span class="main_title">File Hosting Service</span>
		</h1>
	</div>


        <div class="container">
	<div style="display:inline-block">
            <!-- Left Box -->
            <div class="box">
                <div class="title"><span>Quick Upload File</span></div>
                   <div id="uploadForm">
			<br/>
			<button class="btn-danger text-uppercase" id="btnUploadFile" name="btnUploadFile">Select File</button>
					
			<input type="file" name="fileUpload" id="fileUpload" />
			<br/><br/>
                    <table class="table table-striped">
                        <tbody>
                            <tr><td class="text-uppercase"><b>Advanced Options</b></td></tr>
                            <tr><td>
                                    File Description (optional): <br/>
                                    <input class="form-control" type="text" name="description" id="description" maxlength="100"/><br/>
                                    Password for download (optional): <br/>
                                    <input class="form-control" type="password" name="password" id="password" maxlength="20"/>
                                </td></tr>
                        </tbody>
                    </table>
		  </div>              
		<br/><br/><br/>
                <div class="alert alert-danger hide"></div>
                <div class="progress"><div class="bar progress-bar progress-bar-danger progress-bar-striped"></div></div>
                <div class="percent"></div>

            </div>
            <!-- / Left Box -->

            <!-- Right Box -->
            <div class="box">
                <div class="title"><span id="box_title">Why FilePi ?</span></div>

                <div id="info">
                    <table class="table table-striped">
                        <tbody>
                            <tr><td class="text-uppercase"><b>100% free</b></td></tr>
                            <tr><td class="text-uppercase"><b>No upload limit</b></td></tr>
                            <tr><td class="text-uppercase"><b>No download limit</b></td></tr>
                            <tr><td class="text-uppercase"><b>No registration</b></td></tr>
                            <tr><td class="text-uppercase"><b>Unlimited bandwidth</b></td></tr>
                            <tr><td class="text-uppercase"><b>Files stored forever</b></td></tr>
                            <tr><td class="text-uppercase"><b>Password protection</b></td></tr>
                            <tr><td class="text-uppercase"><b>Max file size: 300 MB</b></td></tr>
                    </table>	
                </div>

                <div id="links" style="display:none">
                    <table class="table table-striped">
                        <tbody>
                            <tr><td>Download Link:<br/>
                                    <input class="form-control" type="text" id="down_link" />
                                </td></tr>
                            <tr><td>Delete Link:<br/>
                                    <input class="form-control" type="text" id="del_link" />
                                </td></tr>
                        </tbody>
                    </table>	
                </div>

            </div>

            <!-- / Right Box -->
	</div>
        </div>
        <!-- /Container -->

        <!-- Share Box -->  
        <div id="share" class="hide" style="width:100%;margin:20;float:left">
            <div class="padding-tabs">
                <p>Share link:</p>
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://filepi.com/" addthis:title="FilePi" addthis:description="File Hosting Service"><a class="addthis_button_facebook"></a><a class="addthis_button_twitter"></a><a class="addthis_button_google_plusone_share"></a><a class="addthis_button_reddit"></a><a class="addthis_button_scoopit"></a><a class="addthis_button_blogger"></a>      <a class="addthis_button_myspace"></a><a class="addthis_button_pinterest_share"></a><a class="addthis_button_digg"></a><a class="addthis_button_wordpress"></a><a class="addthis_button_delicious"></a><a class="addthis_button_email"></a><a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a></div>  
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51af43c37ed9efb7"></script>
        </div>
        <!-- /Share Box -->
    </body>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>


    <script type="text/javascript" src="public/js/main.js"></script>

</html>